*~
*.*~
.#*
\#*#
.*.sw[a-z]
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.un~
Session.vim
.directory
.DS_Store
._*
.Spotlight-V100
.Trashes
Desktop.ini
$RECYCLE.BIN/
Thumbs.db 
*.log
*.pid
log
logs
tmp
temp
